spring:
  datasource:
    url: jdbc:postgresql:///<DB_NAME>?socketFactory=com.google.cloud.sql.postgres.SocketFactory&cloudSqlInstance=<PROJETO_ID>:<REGIAO>:<INSTANCIA>
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
